<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027473222243-1hrnmst1fsoh5k42bqnlaha4gf303oai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027473222243-1hrnmst1fsoh5k42bqnlaha4gf303oai</string>
	<key>API_KEY</key>
	<string>AIzaSyAMLOPFqQDfZFle6f1zpTgDbQVCbDNRVXk</string>
	<key>GCM_SENDER_ID</key>
	<string>1027473222243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppClim</string>
	<key>PROJECT_ID</key>
	<string>appclim-a211298</string>
	<key>STORAGE_BUCKET</key>
	<string>appclim-a211298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027473222243:ios:222f2028ef8f6ff8a16656</string>
	<key>DATABASE_URL</key>
	<string>https://appclim-a211298.firebaseio.com</string>
</dict>
</plist>